<div class="max-w-4xl mx-auto py-10 px-4">
  <div class="bg-white p-8 rounded-xl shadow-lg border border-gray-100">
    <h1 class="text-4xl font-extrabold text-gray-900 mb-2">
      <%= @organization.name %>
    </h1>
    <p class="text-xl text-gray-500 mb-6">EIN: <%= @organization.ein %></p>

    <%= render 'organizations/details/preselected_warning', organization: @organization %>
    
    <%= render 'organizations/details/manager_information', organization: @organization %>
    
    <%= render 'organizations/details/metadata', organization: @organization %>

    <%= render 'organizations/details/application_requirements', organization: @organization %>

    <%= render 'organizations/details/financial_summary', organization: @organization %>

    <%# --- LAZY LOADED HEAVY CONTENT STARTS HERE (No lazy loading/skeleton) --- %>
    <%= turbo_frame_tag "organization_heavy_details", 
                        src: grants_and_programs_organization_path(@organization) do %>
      <%# Content will load here when the request is complete %>
    <% end %>
    <%# --- LAZY LOADED HEAVY CONTENT ENDS HERE --- %>

  </div>
</div>